form {
  padding: 24px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 24px;
}

input,
textarea {
  display: block;
  margin-bottom: 10px;
  padding: 14px;
  border-radius: 8px;
  border: none;
  width: 80%;
  background-color: rgb(212, 214, 219);
}

.date {
  display: flex;
  gap: 8px;
  width: 85%;
}
